{% extends "base.html" %}
{% set title = "Season 3" %}
{% set stylesheets = [ "/~/seasons/3/index.css" ] %}
{% block main %}
<!-- Season -->
<div id="season">
    <!-- Title -->
    <h2>Season 3</h2>
    
    <!-- About -->
    <div class="section" id="about">
        <h3>About</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab recusandae deleniti, inventore perferendis ratione dicta sequi nam tempore, aliquid, pariatur quas numquam velit veritatis est. Omnis repellendus ullam laudantium illum?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus minus provident voluptate reprehenderit consectetur! Iusto impedit tenetur nobis nostrum inventore? Placeat enim alias adipisci nemo excepturi non nisi perspiciatis impedit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laudantium sit, mollitia dignissimos eos assumenda nesciunt architecto distinctio, ullam necessitatibus sed harum? Vero a et necessitatibus aliquam architecto atque. Fugiat.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum non, minus fugit aspernatur nostrum aliquam voluptas numquam magni repudiandae corporis vitae, ullam sunt! Beatae delectus reiciendis recusandae, iure quibusdam optio.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sapiente ipsa labore, quibusdam numquam quis? Atque modi ducimus error reprehenderit iste saepe perspiciatis, accusantium cupiditate quidem minima illo quaerat! Enim.
        </p>
    </div>
    
    <!-- Players -->
    <div class="section" id="players">
        <h3>Players</h3>
        <ul>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
            <li>
                <img src="https://crafatar.com/avatars/d9736929-859d-478a-8575-02cc397673d7?size=16&default=MHF_Steve&overlay">
                <span>DmmDGaming</span>
            </li>
        </ul>
    </div>
    
    <!-- Achievements -->
    <div class="section" id="achievements">
        <h3>Achievements</h3>
        <ul>
            <li>
                <img src="/~/assets/bread.webp">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae neque ad velit eligendi explicabo corrupti obcaecati mollitia nobis? Quae, eaque optio repellendus minima sed quos sunt consequuntur quasi laborum delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit laudantium vero similique dicta consequatur consectetur quam veniam deleniti autem eos itaque voluptate illum, exercitationem libero, quasi nam sit obcaecati.</p>
            </li>
            <li>
                <img src="/~/assets/bread.webp">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae neque ad velit eligendi explicabo corrupti obcaecati mollitia nobis? Quae, eaque optio repellendus minima sed quos sunt consequuntur quasi laborum delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit laudantium vero similique dicta consequatur consectetur quam veniam deleniti autem eos itaque voluptate illum, exercitationem libero, quasi nam sit obcaecati.</p>
            </li>
            <li>
                <img src="/~/assets/bread.webp">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae neque ad velit eligendi explicabo corrupti obcaecati mollitia nobis? Quae, eaque optio repellendus minima sed quos sunt consequuntur quasi laborum delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit laudantium vero similique dicta consequatur consectetur quam veniam deleniti autem eos itaque voluptate illum, exercitationem libero, quasi nam sit obcaecati.</p>
            </li>
            <li>
                <img src="/~/assets/bread.webp">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae neque ad velit eligendi explicabo corrupti obcaecati mollitia nobis? Quae, eaque optio repellendus minima sed quos sunt consequuntur quasi laborum delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit laudantium vero similique dicta consequatur consectetur quam veniam deleniti autem eos itaque voluptate illum, exercitationem libero, quasi nam sit obcaecati.</p>
            </li>
            <li>
                <img src="/~/assets/bread.webp">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae neque ad velit eligendi explicabo corrupti obcaecati mollitia nobis? Quae, eaque optio repellendus minima sed quos sunt consequuntur quasi laborum delectus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus suscipit laudantium vero similique dicta consequatur consectetur quam veniam deleniti autem eos itaque voluptate illum, exercitationem libero, quasi nam sit obcaecati.</p>
            </li>
        </ul>
    </div>
    
    <!-- Server Plugins -->
    <div class="section" id="plugins">
        <h3>Server Plugins</h3>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>

    <!-- Server Mods -->
    <div class="section" id="mods">
        <h3>Server Mods</h3>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>

    <!-- Gallery -->
    <div class="section" id="gallery">
        <h3>Gallery</h3>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>
</div>
<!-- Scripts -->
<!-- <script src="/~/js/home.js"></script> -->
{% endblock %}
