{% extends "base.html" %}
{% set title = "Archives" %}
{% set stylesheets = [ "/~/css/archives.css" ] %}
{% block main %}
<!-- Archives -->
<div id="archives">
    <h2>Season Archives</h2>
    <h3>Here are all of the seasons that ever existed in Geesecraft!</h3>
    <ul id="seasons">
        <li class="season" id="season-upcoming">
            <a href="/archives/4">Season 4</a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illo et quae incidunt sequi, repudiandae mollitia quia eum, architecto sed earum ipsam magnam, reprehenderit rem qui odit debitis vero obcaecati?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem aut sequi assumenda ex recusandae quibusdam, distinctio molestias repellendus nulla, atque sapiente. Enim, ex? Animi sit vitae accusantium dolore facilis!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem aut sequi assumenda ex recusandae quibusdam, distinctio molestias repellendus nulla, atque sapiente. Enim, ex? Animi sit vitae accusantium dolore facilis!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, accusantium. Sunt eos, adipisci pariatur facere nihil sit aspernatur corrupti omnis, excepturi ducimus soluta esse atque, ullam maiores ut fugiat officia.</p>
            <ul>
                <li><span>1.19.0</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Modded</span></li>
            </ul>
        </li>
        <li class="season" id="season-active">
            <a href="/archives/3">Season 3</a>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam porro, corporis excepturi alias aliquid dolores nulla earum adipisci quibusdam eius voluptate expedita autem quam explicabo ea voluptates recusandae at odit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illo et quae incidunt sequi, repudiandae mollitia quia eum, architecto sed earum ipsam magnam, reprehenderit rem qui odit debitis vero obcaecati?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem aut sequi assumenda ex recusandae quibusdam, distinctio molestias repellendus nulla, atque sapiente. Enim, ex? Animi sit vitae accusantium dolore facilis!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, accusantium. Sunt eos, adipisci pariatur facere nihil sit aspernatur corrupti omnis, excepturi ducimus soluta esse atque, ullam maiores ut fugiat officia.</p>
            <ul>
                <li><span>1.19.0</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
            </ul>
        </li>
        <li class="season" >
            <a href="/archives/2">Season 2</a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illo et quae incidunt sequi, repudiandae mollitia quia eum, architecto sed earum ipsam magnam, reprehenderit rem qui odit debitis vero obcaecati?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem aut sequi assumenda ex recusandae quibusdam, distinctio molestias repellendus nulla, atque sapiente. Enim, ex? Animi sit vitae accusantium dolore facilis!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, accusantium. Sunt eos, adipisci pariatur facere nihil sit aspernatur corrupti omnis, excepturi ducimus soluta esse atque, ullam maiores ut fugiat officia.</p>
            <ul>
                <li><span>1.19.0</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
            </ul>
        </li>
        <li class="season" >
            <a href="/archives/1">Season 1</a>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illo et quae incidunt sequi, repudiandae mollitia quia eum, architecto sed earum ipsam magnam, reprehenderit rem qui odit debitis vero obcaecati?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga dolorem aut sequi assumenda ex recusandae quibusdam, distinctio molestias repellendus nulla, atque sapiente. Enim, ex? Animi sit vitae accusantium dolore facilis!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, accusantium. Sunt eos, adipisci pariatur facere nihil sit aspernatur corrupti omnis, excepturi ducimus soluta esse atque, ullam maiores ut fugiat officia.</p>
            <ul>
                <li><span>1.19.0</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
                <li><span>Jan. 1, 2020 - Jan. 1, 2020</span></li>
            </ul>
        </li>
    </ul>
</div>

<!-- Scripts -->
{% endblock %}
