<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/~/assets/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/~/css/base.css">
        {# Load second CSS sheet if we have one #}
        {% if localCSS %}<link rel="stylesheet" type="text/css" href="/~/{{ localCSS }}">{% endif %}
        {% if data and "id" in data %}<link rel="stylesheet" type="text/css" href="/~/seasons/{{ data['id'] }}/season.css">{% endif %}
        <title>Geesecraft</title>
    </head>
    <body>
        <nav>
            <div id="nav-left">
                <img src="/~/assets/bread.png">
                <h1 id="nav-title">Geesecraft</h1>
            </div>
            <div id="nav-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/seasons">Seasons</a></li>
                    <li><a href="https://discord.gg/HYgcp85g6u" target="_blank" rel="noopener noreferrer">Discord<img src="/~/assets/external.webp"></a></li>
                </ul>
            </div>
            <div id="nav-right">
                <a href="/seasons/3-spring">Latest Season</a>
                <button onclick="new Audio('/~/sounds/honk.mp3').play()"><span id="nav-honk-text">HONK!</span></button>
            </div>
        </nav>
        <main>{% block content %}{% endblock %}</main>
        <footer>
            <span id="footer-update">Last Updated Feb. 17th, 2023</span>
            <span id="footer-credits">Hosted by <a href="https://iipython.cf">iiPython</a> 24/7 | 2021 - 2023</span>
        </footer>
        <script src="/~/js/secret.js"></script>
    </body>
</html>