<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title -->
        <title>Geesecraft {{ " - " + title if title }}</title>
        <link rel="icon" href="/~/assets/favicon.ico" type="image/x-icon">

        <!-- Styles -->
        <link rel="stylesheet" href="/~/css/base.css" type="text/css">
        {% for stylesheet in stylesheets %}
            <link rel="stylesheet" href="{{ stylesheet }}" type="text/css">
        {% endfor %}
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav>
            <h1 id="logo"><img src="/~/assets/bread.webp"> Geesecraft</h1>
            <ul id="tabs">
                <li><a href="/">Home</a></li>
                <li><a href="/archives">Archives</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="https://map.iipython.dev" target="_blank" rel="noopener noreferrer">
                    Map {% include "/svgs/external.svg" %}
                </a></li>
                <li><a href="https://discord.gg/HYgcp85g6u" target="_blank" rel="noopener noreferrer">
                    Discord {% include "/svgs/external.svg" %}
                </a></li>
                <li><a href="https://github.com/iiPythonx/garchive" target="_blank" rel="noopener noreferrer">
                    Github {% include "/svgs/external.svg" %}
                </a></li>
            </ul>
        </nav>

        <!-- Main -->
        <main>{% block main %}{% endblock %}</main>
        
        <!-- Footer -->
        <footer>
            <div id="credits">
                <h2>Geesecraft</h2>
                <h3>Contact Us: ben@iipython.dev</h3>
                <h3>Last Updated: May 14th, 2023</h3>
                <h3>Hosted 24/7 w/ Honk: <a href="https://iipython.dev">iiPython</a></h3>
            </div>
            <img src="/~/assets/bread.webp">
        </footer>

        <!-- Scripts -->
        <script>
            void function() {
                let honk = new Audio("/~/audios/honk.mp3");
                document.getElementById("logo").onclick = () => honk.play();
            }();
        </script>
    </body>
</html>