<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/~/assets/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/~/css/defaults.css">
        <link rel="stylesheet" type="text/css" href="/~/css/base.css">
        {% for sheet in (styles or []) %}<link rel="stylesheet" type="text/css" href="/~/css/{{ sheet }}">{% endfor %}
        <title>Geesecraft - {{ title }}</title>
        <meta content="Geesecraft" property="og:title"/>
        <meta content="A Minecraft server hosted by the geese! Honk!" property="og:description"/>
        <meta content="https://gc.iipython.cf/" property="og:url"/>
        <meta content="/~/assets/bread.webp" property="og:image"/>
        <meta content="#121212" data-react-helmet="true" name="theme-color"/>
    </head>
    <body>
        <nav>
            <h1><img src="/~/assets/bread.webp" height="25px">Geesecraft</h1>
            <ul></ul>
        </nav>
        <main>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec pulvinar urna, sed vehicula diam. Aliquam eu tortor volutpat, volutpat enim vitae, sodales felis. Pellentesque eu aliquam enim. Duis enim tellus, sollicitudin quis faucibus quis, porta ut ipsum. Pellentesque ullamcorper, erat non convallis sollicitudin, lorem eros fermentum ante, sit amet rutrum augue arcu et dolor. Sed accumsan vel velit eget mollis. Etiam felis ex, scelerisque id odio vitae, sodales finibus dolor. Sed ultricies dignissim tortor a accumsan.</p>
            <p>Etiam ante tortor, sagittis eget felis id, feugiat sodales magna. Nulla tortor arcu, eleifend a mi eu, pellentesque finibus erat. Vestibulum vehicula eget orci nec consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi rutrum volutpat neque eu pretium. Etiam eleifend dolor sapien, sit amet gravida diam convallis tincidunt. Phasellus sed quam pulvinar, lacinia nulla non, volutpat arcu. Nunc et augue convallis, vehicula felis et, maximus justo. Maecenas bibendum velit non metus posuere venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <hr>
            <h2>Title 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec pulvinar urna, sed vehicula diam. Aliquam eu tortor volutpat, volutpat enim vitae, sodales felis. Pellentesque eu aliquam enim. Duis enim tellus, sollicitudin quis faucibus quis, porta ut ipsum. Pellentesque ullamcorper, erat non convallis sollicitudin, lorem eros fermentum ante, sit amet rutrum augue arcu et dolor. Sed accumsan vel velit eget mollis. Etiam felis ex, scelerisque id odio vitae, sodales finibus dolor. Sed ultricies dignissim tortor a accumsan.</p>
            <p>Etiam ante tortor, sagittis eget felis id, feugiat sodales magna. Nulla tortor arcu, eleifend a mi eu, pellentesque finibus erat. Vestibulum vehicula eget orci nec consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi rutrum volutpat neque eu pretium. Etiam eleifend dolor sapien, sit amet gravida diam convallis tincidunt. Phasellus sed quam pulvinar, lacinia nulla non, volutpat arcu. Nunc et augue convallis, vehicula felis et, maximus justo. Maecenas bibendum velit non metus posuere venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <hr>
            <h2>Title 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec pulvinar urna, sed vehicula diam. Aliquam eu tortor volutpat, volutpat enim vitae, sodales felis. Pellentesque eu aliquam enim. Duis enim tellus, sollicitudin quis faucibus quis, porta ut ipsum. Pellentesque ullamcorper, erat non convallis sollicitudin, lorem eros fermentum ante, sit amet rutrum augue arcu et dolor. Sed accumsan vel velit eget mollis. Etiam felis ex, scelerisque id odio vitae, sodales finibus dolor. Sed ultricies dignissim tortor a accumsan.</p>
            <p>Etiam ante tortor, sagittis eget felis id, feugiat sodales magna. Nulla tortor arcu, eleifend a mi eu, pellentesque finibus erat. Vestibulum vehicula eget orci nec consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi rutrum volutpat neque eu pretium. Etiam eleifend dolor sapien, sit amet gravida diam convallis tincidunt. Phasellus sed quam pulvinar, lacinia nulla non, volutpat arcu. Nunc et augue convallis, vehicula felis et, maximus justo. Maecenas bibendum velit non metus posuere venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <hr>
            <h2>Title 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec pulvinar urna, sed vehicula diam. Aliquam eu tortor volutpat, volutpat enim vitae, sodales felis. Pellentesque eu aliquam enim. Duis enim tellus, sollicitudin quis faucibus quis, porta ut ipsum. Pellentesque ullamcorper, erat non convallis sollicitudin, lorem eros fermentum ante, sit amet rutrum augue arcu et dolor. Sed accumsan vel velit eget mollis. Etiam felis ex, scelerisque id odio vitae, sodales finibus dolor. Sed ultricies dignissim tortor a accumsan.</p>
            <p>Etiam ante tortor, sagittis eget felis id, feugiat sodales magna. Nulla tortor arcu, eleifend a mi eu, pellentesque finibus erat. Vestibulum vehicula eget orci nec consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi rutrum volutpat neque eu pretium. Etiam eleifend dolor sapien, sit amet gravida diam convallis tincidunt. Phasellus sed quam pulvinar, lacinia nulla non, volutpat arcu. Nunc et augue convallis, vehicula felis et, maximus justo. Maecenas bibendum velit non metus posuere venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </main>
        <footer>
        </footer>
    </body>
</html>