{% extends "base.html" %}
{% set styles = [ "/~/css/details.css", "/~/seasons/" + data["id"] + "/season.css" ] %}
{% set title = data["name"] %}
{% block main %}
<div id="content">{% include "seasons/" + data["id"] + "/season.html" %}</div>
<div id="info">
    <div class="info-full">
        <h3>Description</h3>
        <p>{{ data["description"] }}</p>
    </div>
    <div class="info-full">
        <h3>Members</h3>
        <ul>
            {% for member in data["members"] %}
                <li><span>{{ member }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <div class="info-half">
        <h3>Start</h3>
        <p>{{ data["start"] or "N/A" }}</p>
    </div>
    <div class="info-half">
        <h3>End</h3>
        <p>{{ data["end"] or "N/A" }}</p>
    </div>
    <div class="info-full">
        <h3>Version</h3>
        <p>{{ data["version"] }}</p>
    </div>
</div>
{% endblock %}