{% extends "base.html" %}
{% set styles = [ "home.css" ] %}
{% set title = "Home" %}
{% block main %}
<h2 class="section" id="home">Home</h2>
<div>
    <div>
        <p>To Do: Complete Home Page</p>
    </div>
    <div id="status">
        <div id="status-title">
            <h3>0 Members Online</h3>
            <h3>0ms <img src="/~/svgs/status.svg" height="15px"></h3>
        </div>
        <ul></ul>
        <div id="status-update">
            <p>Last Updated: 0s Ago</p>
            <button onclick="if(Date.now() - statusCache.timestamp > 3000) statusUpdate(true);"><span><img src="/~/svgs/refresh.svg" height="15px"> Update</span></button>
        </div>
        <span id="status-uuid"></span>
    </div>
</div>
<script src="/~/js/status.js"></script>
{% endblock %}