{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="/~/css/seasons.css">
    <div id="content">
        <h1>Available Seasons</h1>
        <div id="seasons">
            {% for season in seasons %}
                <div class="season">
                    <h2><a href = "/seasons/{{ season['id'] }}">Season {{ season["id"] }}</a> {% if season["active"] %}<span class = "tag label-active">Active</span>{% endif %}</h3>
                    <p class = "label-runtime">{{ season["runtime"] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}