{% extends "base.html" %}
{% set CSS2 = "home.css" %}
{% block content %}
    <h2>Available Seasons</h2>
    <hr>
    <ul>
        {% for season in seasons %}
            <li>
                <div class="season-header">
                    {{ season["name"] }}
                </div>
                <div class="season-body">
                    {{ season["description"] }}
                </div>
                <div class="season-footer">
                    {{ season["start"] }}                    
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}