{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="/~/css/home.css">
    <h2>Available Seasons</h2>
    <hr>
    <ul>
        {% for season in seasons %}
            <li>
                <div class="season-header">

                </div>
                <div class="season-body">

                </div>
                <div class="season-footer">
                    
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}