/* Body */
@keyframes scrollPanorama {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 2048px 4096px;
    }
}

body {
    animation: scrollPanorama 300s linear infinite;
    background-color: rgb(var(--theme-dark));
    background-image: url("/~/assets/background.webp");
    min-height: 100vh;
    min-width: 750px;
}

/* Navigation */

/* Main */
main {
    margin: 25px 50px;
}

/* Footer */