/* Details */

main {
    flex-direction: row;
    gap: 0 50px;
}

/* Content */
#content {
    flex: 1;
}

/* Info */
.info-full {
    width: 100%;
}

.info-half {
    width: calc(50% - 5px);
}

#info {
    background-color: rgba(var(--theme-gray-dim), 0.5);
    height: fit-content;
    padding: 20px 0;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 250px;
}

#info div {
    flex-direction: column;
    display: flex;
    gap: 5px;
}

#info h3, #info p, #info span {
    font-size: 15px;
    line-height: 20px;
    margin: 0 25px;
}

#info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#info ul li {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 15px;
}

#info ul li:hover {
    background-color: rgba(var(--theme-gray-dim), 0.5);
    cursor: pointer;
}

#info ul span {
    margin: 0;
}