/* Title */
main h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
}

main hr {
    margin: 15px 0;
}

/* Details */
#details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

/* Details - Content */
#details-content {
    flex: 1;
    min-width: 300px;
}

#details-content a, #details-content p, #details-content span {
    font-size: 15px;
    font-weight: 200;
    line-height: 15px;
    text-decoration: none;
}

#details-content h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0;
}

/* Details - Gallery - Buttons */
#details-gallery-buttons {
    margin: 10px 0;
    float: right;
}

#details-gallery-buttons button {
    background: var(--theme-gray-dim-transparent);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#details-gallery-buttons button:hover {
    background: var(--theme-gray-transparent);
    cursor: pointer;
}

#details-gallery-buttons button:hover > span {
    color: var(--theme-light-dim);
}

/* Details - Gallery - Images */
#details-gallery-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#details-gallery-images a {
    align-items: center;
    background-color: var(--theme-gray-dim-transparent);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

#details-gallery-images a:hover {
    color: var(--theme-light-dim);
    background-color: var(--theme-gray-transparent);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#details-gallery-images img {
    max-height: 200px;
    max-width: 100%;
    object-fit: contain;
}

/* Details - Info */
#details-info {
    width: 300px;
}

#details-info a, #details-info p, #details-info span {
    font-size: 15px;
    font-weight: 200;
    line-height: 15px;
    text-decoration: none;
}

#details-info a:hover {
    color: var(--theme-light-dim);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#details-info h3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin: 10px 0;
}

#details-info ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 0 20px;
}