/* Banner */
#banner {
    align-items: center;
    animation: bannerScrolling 300s linear infinite;
    background-image: url("/~/assets/banner.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    height: 500px;
    justify-content: center;
    width: 100%;
}

#banner h2 {
    font-size: 50px;
    line-height: 50px;
    padding: 0 50px;
}

#banner h3 {
    font-size: 20px;
    line-height: 20px;
    padding: 0 50px;
    transition: opacity 1s;
}

@keyframes bannerScrolling {
    0% {
        background-position: 50% 50%;
    }

    25% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 0% 0%;
    }
    
    100% {
        background-position: 50% 50%;
    }
}

/* Videos */
#videos {
    align-items: center;
    display: flex;
    gap: 25px;
    padding: 50px 0;
    flex-direction: column;
}

#videos h2 {
    font-size: 25px;
    line-height: 25px;
    text-align: center; 
}

#videos iframe {
    aspect-ratio: 16/9;
    width: 800px;
}

/* Seasons */
#seasons {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    gap: 50px 0;
}

#seasons h2 {
    font-size: 25px;
    line-height: 25px;
    text-align: center;   
}

/* Season */
.season {
    display: flex;
    gap: 0 25px;
    height: 250px;
    padding: 0 250px;
}

.season div {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px 0;
}

.season a {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    width: fit-content;
}

.season a:hover {
    color: rgb(var(--theme-light-dim));
}

.season p {
    flex: 1;
    overflow-y: auto;
}

.season img {
    animation: seasonScrolling 120s linear infinite;
    border-radius: 5px;
    height: 250px;
    width: 400px;
    object-fit: cover;
}

@keyframes seasonScrolling {
    0% {
        object-position: 50% 50%;
    }

    25% {
        object-position: 100% 100%;
    }

    75% {
        object-position: 0% 0%;
    }
    
    100% {
        object-position: 50% 50%;
    }
}

/* Latency */
#status {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    padding: 50px 250px;
}

#status h2 {
    font-size: 25px;
    line-height: 25px;
    text-align: center;   
}

#status div {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#status h3 {
    font-size: 15px;
    line-height: 15px;
}

#status ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

#status button {
    background: none;
    border: none;
    cursor: pointer;
}

#status button:hover {
    color: rgb(var(--theme-light-dim));
}

/* Updates */
#updates {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    padding: 50px 250px;
}

#updates h2 {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

#updates ul {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    list-style: none;
}

#updates li {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
}

#updates h3 {
    font-size: 20px;
    line-height: 20px;
}

/* Frequently Asked Questions */
#faq {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    padding: 50px 250px;
}

#faq h2 {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

#faq h3 {
    font-size: 20px;
    line-height: 20px;
}
