main h1 {
    font-size: 25px;
    font-weight: 200;
    line-height: 25px;
    margin: 0;
    padding: 25px 0;
    text-align: center;
}

main p {
    font-size: 15px;
    font-weight: 200;
    line-height: 15px;
    margin: 0;
    padding: 20px 0;
}