main h1 {
    font-size: 25px;
    font-weight: 200;
    line-height: 25px;
    margin: 0;
    padding: 25px 0;
    text-align: center;
}

.season {
    background-color: #4f4f4f8f;
    border-radius: 5px;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 150px;
}

.season:hover {
    background-color: #4f4f4f4f;
}

.season hr {
    margin: 0 10px;
}

.season-header {
    background-color: #4f4f4f8f;
    border-radius: 5px 5px 0px 0px;
    height: 15px;
    margin: 0;
    padding: 5px;
}

.season-active {
    background-color: #008f008f;
}

.season-upcoming {
    background-color: #8f8f008f;
}

.season-header h2 {
    font-size: 15px;
    font-weight: 200;
    height: 15px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.season-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.season-body p {
    font-size: 15px;
    font-weight: 200;
    line-height: 15px;
    margin: 0;
    padding: 5px 5px;
}

.season-footer {
    border-radius: 0px 0px 5px 5px;
    height: 40px;
    margin: 0;
    padding: 5px;
}

.season-footer p {
    font-size: 15px;
    font-weight: 200;
    line-height: 15px;
    margin: 0;
    padding: 5px 5px;
    text-align: center;
}

#seasons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px 0;
}
